body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
}
header{
    background-color: aqua;
    height: 50%;
}
nav{
    display: inline-block;
    width: 80%;
    background-color:aqua;
}
main{
    background-color: aquamarine;
    font-size: medium;
}
footer{
    background-color: azure;
}
li{
    display: flex;
    width: fit-content;
}
h1{
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        color: coral;
}
p{
    line-height: 20px;
}
img{
    width: 20%;
    position: relative;
    display: flex;
    border: 2px solid #ad3535;
    padding: 10px;
    border-radius: 15px;
}
ul{
    display: flex;
    width: 80%;
    justify-content: space-around;
    list-style-type: none;
}
.grid{
    display: grid;
    grid-template-columns: 40% 40%;
    row-gap: 20px;
    column-gap: 20px;
    justify-content: center;
    align-items: center;
}
.grid img{
    width: 100%;
}
.flex{
    flex-wrap: wrap;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
}
a{
    font-style: 30px;
    font-weight: bold;
}


.skip-link{
      color: #080808;
      background: #dbd820;
      line-height: 30px;
      text-align: center;
      width: 50px;
      height: 40px;
      border-radius: 6px;
      transition-property: color, width, background, border-radius;
      transition-duration: 0.5s;
      transition-timing-function: linear;
      transition-delay: 0.5s;
}

.skip-link:hover {
    color: #ad3535;
    width: 50px;
    background: #4497ac;
    border-radius: 30px;
}